.particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* This places the background behind other components */
}
