<app-background></app-background>
<div class="navbar">
    <div class="navbar-logo">
        <img src="./assets/logo.jpeg" alt="Company Logo" width="65" height="65"><br><br><br>
        <h3>FAKE-FINDER</h3>
    </div>

    <!-- Use routerLink instead of href -->
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/">Home</a>


</div>

<!-- <app-main-content></app-main-content>
<app-form></app-form> -->
<router-outlet></router-outlet>
<!-- <h1 style="color:white; text-align: center; font-size: 50px; font-family: cursive;"> TECH TITANS</h1> -->
