<app-background></app-background>
<div class="navbar">
    <div class="navbar-logo">
        <img src="./assets/logo.png" alt="Company Logo" width="65" height="65"><br>
        <h2>FAKE-FINDER</h2>
    </div>
    
    <!-- Use routerLink instead of href -->
    <a routerLink="/visualization">Visualization</a>
    <a routerLink="/app">Home</a>
    
</div>

<!-- <app-main-content></app-main-content>
<app-form></app-form> -->
<router-outlet></router-outlet>
<!-- <h1 style="color:white; text-align: center; font-size: 50px; font-family: cursive;"> TECH TITANS</h1> -->