<div class="about-container">
  <h1>Comparision of Key Statistics for Legit and Fake Websites</h1>
  <div class="image-container">
    <div class="image-wrapper1"> 
      <img src="./assets/DataFlow-Final.jpg" alt="Image 1">
    </div>
    <div class="image-wrapper">
      <img src="./assets/i1.jpeg" alt="Image 1">
    </div>
    <div class="image-wrapper">
      <img src="./assets/i2.jpeg" alt="Image 2">
    </div>
    <div class="image-wrapper">
      <img src="./assets/i3.jpeg" alt="Image 3">
    </div>
    <div class="image-wrapper">
      <img src="./assets/i4.jpeg" alt="Image 4">
    </div>
  </div>
</div>
