.about-container {
  text-align: center;
}
.image-wrapper1{
  width: 143vh;
  /* height:100vh; */
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width:70vh;
  height:50vh; */
}

.image-wrapper {
  margin: 10px;
  width:70vh;
  height:50vh;
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  max-height: 100%;
}
h1{
  color:white
}
